<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<add key="bundlerMinifier" value="Microsoft\VisualStudio\15.0_1705bee0\Extensions\v3fchjgn.kft\BundlerMinifierConsole.exe"/>
		<add key="apacheFile" value="..\..\apache.zip"/>
		<add key="host" value="https://docs.a2v10.com"/>
	</appSettings>
</configuration>
