

@import "Variables.less";

html {
	color: #141414;
}

body {
	font-size: 16px;
}

.tree-view li > .overlay i.ico {
	font-size:16px;
	width:24px;
}

.ico-a2v10:before {
	content: "\ea10";
}

input, select {
	height: auto;
}

a2-include {
	display:block;
}

.help-side-bar .ico, .std .ico {
	font-size:20px;
	margin-right:6px;
}

.color-a2 {
	color: #dd2c5e;
}

.color-dark {
	color: #24292e;
}

.help-main-view {
	display: grid;
	grid-gap: 0;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto 1fr auto;
	width: 100%;
	height: 100%;
}

/*
.ico-search:before {
	content: "\e986";
}
*/

header, .help-header {
	position: static;
	grid-row: 1;
	grid-column: 1 / span 2;
	background-color: @brand-bk-color;
	color: white;
	font-size: 1.5em;
	padding: .1em;
	display: flex;
	height:@header-height;

	a {
		padding: 0 .3em 0 .3em;
		color: inherit;

		&:hover, &:focus {
			color: white;
			background-color: @brand-hover-bk-color;
		}
	}

	.h-title {
	}

	.h-sub-title {
		font-size: 0.7em;
	}

	.h-logo {
		font-size:32px;
		margin-right:8px;
	}

	.divider {
		flex-grow: 1;
	}

	.search {
		font-size: 13px;
		margin: 0 6px;
		border: 1px solid #999;
		border-radius: 15px;
		padding: 0 10px;
		background-color: #6178a1;

		input {
			padding: 3px 5px;
			margin-left: 5px;
			background-color: #6178a1;
			color:white;
		}

		.ico {
			font-size:16px;
		}
	}
}

footer, .help-footer {
	position:static;
	grid-row: 4;
	display: flex;
	grid-column: 1 / span 2;
	background-color: @lightgray-bg-color;
	font-size: .9em;
	padding: .3em .4em;
	border-top: 1px solid @default-brd-color;
	align-items: stretch;
	text-transform:none;
	line-height:normal;
	height:auto;

	.divider {
		flex-grow: 2;
	}
}

li {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
	color: @link-color;
	text-decoration: none;
	cursor: pointer;

	&[disabled] {
		pointer-events: none; // disable click
		opacity: 0.5;
		cursor: not-allowed;
	}

	&:hover {
		color: @link-hover-color;
		text-decoration: none;
	}

	&:focus {
		color: @link-hover-color;
		outline-style: none;
	}

	&:active {
		color: @link-hover-color;
	}
}

.help-side-bar {
	grid-row: 3;
	grid-column: 1;
	width: @side-bar-width;
	overflow: auto;

	.sub-side {
		position: relative;
		height: 100%;
	}
}

.menu-tab-header {
	grid-row: 2;
	grid-column: 1;
	background-color: @lightgray-bg-color;
	padding: 0;
	margin: 0;
	display: flex;
	border-bottom: 1px solid @default-brd-color;
	height:@tab-height + 1;
	max-height:@tab-height + 1;

	li {
		display: block;
		flex-grow: 1;
		padding: .5em 0;
		border-top: 3px solid transparent;
		border-left: 1px solid @default-brd-color;
		text-align: center;
		cursor: pointer;
		margin-bottom: -1px;
		user-select: none;
		border-bottom: 1px solid transparent;

		&:first-child {
			border-left-style: none;
		}

		&:hover {
			background-color: darken(@lightgray-bg-color, 3%);
			border-bottom-color: @default-brd-color;
		}

		&.active {
			background-color: white;
			border-top-color: gold;

			&:hover {
				border-bottom-color: transparent;
			}
		}
	}
}

.help-content-view {
	grid-row: 2 / span 2;
	grid-column: 2;
	padding: 0 1em 1em 1em;
	border-left: 1px solid @default-brd-color;
	overflow: auto;
	user-select:text;
}

.help-side-bar .tree-view {
	padding:6px;
	height:100%;
}

code, pre {
	font-family: @monospace-font;
	font-size: 0.9em;
	background-color: @shadow-bg-color;
}

.file-name {
	font-family: @monospace-font;
}

pre {
	padding: .6em;
	line-height: 1.2em;
	font-size:1em;
	white-space:pre;
	overflow:auto;
}

code {
	background-color: @shadow-bg-color;
	padding: 2px;
	color: @code-txt-color;

	&.string {
		color: @string-txt-color;
	}
}

.command {
	margin: 1em 0;
	padding: 6px;
	border-left: 4px solid #7598d8;
	background-color: #f3faff;
	b {
		font-family:@monospace-font;
		font-weight:bold;
		font-size:110%;
	}
}

.syntax {
	font-family: @monospace-font;
	margin: .5em 0;
	padding: 6px;
	border-left: 4px solid #7598d8;
	background-color: #f3faff;
	font-weight:500;
	pre {
		margin:0;
		padding:0;
		background-color:transparent;
	}
}

.help-content-view ul.params {
	margin-left:1em;
	> li {
		line-height:normal;
		margin:.2em 0;
		list-style-type:circle;
	}
}

a.disabled {
	color: #999;
	cursor: not-allowed;
	pointer-events: none;
}

@import "IndexView.less";
@import "MainView.less";
@import "Text.less";

p {
	margin: 1em 0;
}

.os-product {
	background-color: #f6f9ff;
	padding: 6px;
	display: block;
	margin:2px 0;

	.os-title {
	}

	.os-lic {
		float: right;
		margin-right: 12px;
	}

	.os-homepage {
		float: right;
	}

	.cr {
		font-size: 0.86em;
	}
}

.debug-list {
	list-style-type: none;
	overflow: auto;
	height: 450px;
	padding: 0 20px;
	background-color: antiquewhite;
	margin: 0;
}

.tip {
	padding:12px 18px;
	margin-left:1em;
	position:relative;
	background-color:#f8f8f8;

	&:before {
		content:'!';
		width:20px;
		height:20px;
		border-radius:100%;
		position:absolute;
		top:14px;
		left:-12px;
		color:white;
		text-align:center;
	}
}

.tip.alert {
	border-left: 4px solid #f66;

	&:before {
		background-color: #f66;
	}
}

.tip.warning {
	border-left: 4px solid gold;

	&:before {
		background-color: gold;
	}
}

.tip.info {
	border-left: 4px solid #57a8fa;

	&:before {
		background-color: #57a8fa;
	}
}

.icons-content {
	columns:4;
	margin-bottom:2em;
	.one-item {
		padding:5px;
		user-select:text;
		.ico {
			font-size:20px;
			margin-right:5px
		}
	}
}

.not-supported {
	position:absolute;
	top:20%;
	left:40%;
}
