

@font-family: system-ui, 'Segoe UI', Tahoma, Verdana, sans-serif;
@monospace-font: Consolas, Courier New, Courier, monospace;
@font-size: 13px;

@text-color: #222;

@brand-bk_color: #4d6082;

@defaut-brd-color: #ddd;

@lightgray-bg-color: #f2f3f9;

