AddDefaultCharset utf-8

DirectoryIndex root.php
ErrorDocument 404 /Html/Errors/404.html
 
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /root.php [L]
