html {
  font-family: system-ui, 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 13px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #222;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  background-color: white;
}
.not-supported {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #dca7a7;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
[v-cloak] {
  display: none;
}
.main-view {
  display: grid;
  grid-gap: 0;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr auto;
  width: 100%;
  height: 100%;
}
/* icon colors */
@font-face {
  font-family: 'Bowtie';
  src: url('/css/fonts/bowtie.eot');
  src: url('/css/fonts/bowtie.eot?#iefix') format('eot'), url('/css/fonts/bowtie.woff') format('woff'), url('/css/fonts/bowtie.ttf') format('truetype'), url('/css/fonts/bowtie.svg#bowtie') format('svg');
  font-weight: normal;
  font-style: normal;
}
i,
.ico {
  font-family: 'Bowtie';
  speak: none;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ico-folder:before,
.ico-node:before {
  content: "\e95b";
  color: #dcb67a;
}
.ico-file:before,
.ico-leaf:before {
  content: "\e9dd";
}
header,
.header {
  grid-row: 1;
  grid-column: 1 / span 2;
  background-color: #4d6082;
  color: white;
  font-size: 1.5rem;
  padding: .1rem .4rem;
}
footer,
.footer {
  grid-row: 4;
  display: flex;
  grid-column: 1 / span 2;
  background-color: #f2f3f9;
  font-size: .95rem;
  padding: .2rem .4rem;
  border-top: 1px solid #ddd;
  align-items: stretch;
}
footer .divider,
.footer .divider {
  flex-grow: 2;
}
a {
  color: #57a8fa;
  text-decoration: none;
  cursor: pointer;
}
a[disabled] {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}
a:hover {
  color: #0d82f8;
  text-decoration: none;
}
a:focus {
  color: #0d82f8;
  outline-style: none;
}
a:active {
  color: #0d82f8;
}
.side-bar {
  grid-row: 3;
  grid-column: 1;
  width: 290px;
  overflow: auto;
}
.side-bar .sub-side {
  position: relative;
  height: 100%;
}
.tab-header {
  grid-row: 2;
  grid-column: 1;
  background-color: #f2f3f9;
  padding: 0;
  margin: 0;
  display: flex;
  border-bottom: 1px solid #ddd;
}
.tab-header li {
  display: block;
  flex-grow: 1;
  padding: .3em 0 .5em 0;
  border-top: 3px solid transparent;
  border-left: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
  margin-bottom: -1px;
  user-select: none;
  border-bottom: 1px solid transparent;
}
.tab-header li:first-child {
  border-left-style: none;
}
.tab-header li:hover {
  background-color: #e8e9f4;
  border-bottom-color: #ddd;
}
.tab-header li.active {
  background-color: white;
  border-top-color: gold;
}
.tab-header li.active:hover {
  border-bottom-color: transparent;
}
.content-view {
  grid-row: 2 / span 2;
  grid-column: 2;
  padding: 0 .8em;
  border-left: 1px solid #ddd;
}
pre {
  font-family: Consolas, Courier New, Courier, monospace;
  font-size: 0.85em;
}
.tree-view {
  margin: 0;
  padding: 6px;
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;
}
.tree-view li {
  list-style: none;
  position: relative;
  cursor: pointer;
}
.tree-view li a:hover,
.tree-view li a:active {
  text-decoration: none;
  color: #0d82f8;
}
.tree-view li.active > .overlay {
  background-color: #cde6f7;
}
.tree-view li.active > .overlay:hover {
  background-color: #cde6f7;
}
.tree-view li > .overlay {
  display: inline-flex;
  align-items: baseline;
  width: 100%;
  padding: 2px 0 4px 0;
}
.tree-view li > .overlay .tv-folder {
  font-weight: bold;
  color: #8591a2;
}
.tree-view li > .overlay .toggle {
  display: inline-block;
  flex-shrink: 0;
  /*fixed*/
  width: 16px;
  height: 16px;
  font-size: 16px;
  font-family: "Bowtie";
  color: #8591a2;
}
.tree-view li > .overlay:hover {
  background-color: #fdf4bf;
}
.tree-view li > .overlay i.ico {
  flex-shrink: 0;
  /*fixed*/
  color: #8591a2;
  font-size: 1rem;
  margin-left: 2px;
  width: 17px;
  /*13 + 4 margin*/
}
.tree-view li > .overlay .no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tree-view li > .overlay.no-icons > .toggle {
  margin-right: 4px;
}
.tree-view li > ul {
  margin: 0;
  padding-left: 16px;
  /*indentation*/
}
.tree-view li.collapsed > .overlay > .toggle:after {
  content: "\e9cd";
  /*tree-collapsed*/
  position: absolute;
  left: 4px;
  top: 6px;
}
.tree-view li.collapsed ul {
  display: none;
}
.tree-view li.expanded > .overlay > .toggle:after {
  content: "\e9cb";
  /*tree-expanded*/
  position: absolute;
  left: 2px;
  top: 5px;
}
.index-view {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  height: 100%;
  user-select: none;
}
.index-view .search-block {
  padding: 6px;
  display: flex;
  flex-direction: column;
}
.index-view label {
  color: #8591a2;
  display: block;
  margin-bottom: 4px;
  font-size: .96rem;
}
.index-view .input-search {
  display: block;
  padding: 4px 6px;
  border: 1px solid #ddd;
}
.index-view .input-search:focus {
  outline: none;
  border-color: #0d82f8;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}
.index-view ul.index-tree {
  padding: 0;
  margin: 0 6px 6px 6px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  top: 60px;
  right: 0;
  bottom: 0;
}
.index-view ul.index-tree .word-folder {
  display: block;
  padding: 4px 6px;
  color: #8591a2;
  font-weight: bold;
}
.index-view ul.index-tree ul {
  padding-left: 12px;
}
.index-view ul.index-tree li {
  list-style: none;
  position: relative;
  cursor: pointer;
  margin: 0;
}
.index-view ul.index-tree li a {
  display: block;
  width: 100%;
  padding: 4px 6px;
}
.index-view ul.index-tree li a:hover {
  background-color: #fdf4bf;
}
.index-view ul.index-tree li a.active {
  background-color: #cde6f7;
}
.index-view ul.index-tree li li.file-link {
  font-size: 0.96rem;
}