/* side bar */
html {
  color: #141414;
}
body {
  font-size: 16px;
}
.tree-view li > .overlay i.ico {
  font-size: 16px;
  width: 24px;
}
.ico-a2v10:before {
  content: "\ea10";
}
input,
select {
  height: auto;
}
a2-include {
  display: block;
}
.help-side-bar .ico,
.std .ico {
  font-size: 20px;
  margin-right: 6px;
}
.color-a2 {
  color: #dd2c5e;
}
.color-dark {
  color: #24292e;
}
.help-main-view {
  display: grid;
  grid-gap: 0;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr auto;
  width: 100%;
  height: 100%;
}
/*
.ico-search:before {
	content: "\e986";
}
*/
header,
.help-header {
  position: static;
  grid-row: 1;
  grid-column: 1 / span 2;
  background-color: #4d6082;
  color: white;
  font-size: 1.5em;
  padding: 0.1em;
  display: flex;
  height: 45px;
}
header a,
.help-header a {
  padding: 0 0.3em 0 0.3em;
  color: inherit;
}
header a:hover,
.help-header a:hover,
header a:focus,
.help-header a:focus {
  color: white;
  background-color: #6178a1;
}
header .h-sub-title,
.help-header .h-sub-title {
  font-size: 0.7em;
}
header .h-logo,
.help-header .h-logo {
  font-size: 32px;
  margin-right: 8px;
}
header .divider,
.help-header .divider {
  flex-grow: 1;
}
header .search,
.help-header .search {
  font-size: 13px;
  margin: 0 6px;
  border: 1px solid #999;
  border-radius: 15px;
  padding: 0 10px;
  background-color: #6178a1;
}
header .search input,
.help-header .search input {
  padding: 3px 5px;
  margin-left: 5px;
  background-color: #6178a1;
  color: white;
}
header .search .ico,
.help-header .search .ico {
  font-size: 16px;
}
footer,
.help-footer {
  position: static;
  grid-row: 4;
  display: flex;
  grid-column: 1 / span 2;
  background-color: #f2f3f9;
  font-size: 0.9em;
  padding: 0.3em 0.4em;
  border-top: 1px solid #ddd;
  align-items: stretch;
  text-transform: none;
  line-height: normal;
  height: auto;
}
footer .divider,
.help-footer .divider {
  flex-grow: 2;
}
li {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  color: #57a8fa;
  text-decoration: none;
  cursor: pointer;
}
a[disabled] {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}
a:hover {
  color: #0d82f8;
  text-decoration: none;
}
a:focus {
  color: #0d82f8;
  outline-style: none;
}
a:active {
  color: #0d82f8;
}
.help-side-bar {
  grid-row: 3;
  grid-column: 1;
  width: 390px;
  overflow: auto;
}
.help-side-bar .sub-side {
  position: relative;
  height: 100%;
}
.menu-tab-header {
  grid-row: 2;
  grid-column: 1;
  background-color: #f2f3f9;
  padding: 0;
  margin: 0;
  display: flex;
  border-bottom: 1px solid #ddd;
  height: 46px;
  max-height: 46px;
}
.menu-tab-header li {
  display: block;
  flex-grow: 1;
  padding: 0.5em 0;
  border-top: 3px solid transparent;
  border-left: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
  margin-bottom: -1px;
  user-select: none;
  border-bottom: 1px solid transparent;
}
.menu-tab-header li:first-child {
  border-left-style: none;
}
.menu-tab-header li:hover {
  background-color: #e8e9f4;
  border-bottom-color: #ddd;
}
.menu-tab-header li.active {
  background-color: white;
  border-top-color: gold;
}
.menu-tab-header li.active:hover {
  border-bottom-color: transparent;
}
.help-content-view {
  grid-row: 2 / span 2;
  grid-column: 2;
  padding: 0 1em 1em 1em;
  border-left: 1px solid #ddd;
  overflow: auto;
  user-select: text;
}
.help-side-bar .tree-view {
  padding: 6px;
  height: 100%;
}
code,
pre {
  font-family: Consolas, 'Fira Code', 'Courier New', Courier, monospace;
  font-size: 0.9em;
  background-color: #f8f8f8;
}
.file-name {
  font-family: Consolas, 'Fira Code', 'Courier New', Courier, monospace;
}
pre {
  padding: 0.6em;
  line-height: 1.2em;
  font-size: 1em;
  white-space: pre;
  overflow: auto;
}
code {
  background-color: #f8f8f8;
  padding: 2px;
  color: brown;
}
code.string {
  color: forestgreen;
}
.command {
  margin: 1em 0;
  padding: 6px;
  border-left: 4px solid #7598d8;
  background-color: #f3faff;
}
.command b {
  font-family: Consolas, 'Fira Code', 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 110%;
}
.syntax {
  font-family: Consolas, 'Fira Code', 'Courier New', Courier, monospace;
  margin: 0.5em 0;
  padding: 6px;
  border-left: 4px solid #7598d8;
  background-color: #f3faff;
  font-weight: 500;
}
.syntax pre {
  margin: 0;
  padding: 0;
  background-color: transparent;
}
.help-content-view ul.params {
  margin-left: 1em;
}
.help-content-view ul.params > li {
  line-height: normal;
  margin: 0.2em 0;
  list-style-type: circle;
}
a.disabled {
  color: #999;
  cursor: not-allowed;
  pointer-events: none;
}
.index-view {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  height: 100%;
  user-select: none;
}
.index-view .search-block {
  padding: 6px;
  display: flex;
  flex-direction: column;
}
.index-view label {
  color: #8591a2;
  display: block;
  margin-bottom: 4px;
  font-size: 0.9em;
}
.index-view .input-search {
  display: block;
  padding: 4px 6px;
  border: 1px solid #ddd;
  font-size: 16px;
}
.index-view .input-search:focus {
  outline: none;
  border-color: #0d82f8;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}
.index-view ul.index-tree {
  padding: 0;
  margin: 0 6px 6px 6px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  top: 70px;
  right: 0;
  bottom: 0;
}
.index-view ul.index-tree .word-folder {
  display: block;
  padding: 4px 6px;
  color: #8591a2;
  font-weight: bold;
  cursor: default;
}
.index-view ul.index-tree ul {
  padding-left: 12px;
}
.index-view ul.index-tree li {
  list-style: none;
  position: relative;
  cursor: pointer;
  margin: 0;
}
.index-view ul.index-tree li a {
  display: block;
  width: 100%;
  padding: 4px 6px;
}
.index-view ul.index-tree li a:hover {
  background-color: #fdf4bf;
}
.index-view ul.index-tree li a.active {
  background-color: #cde6f7;
}
.index-view ul.index-tree li li.file-link {
  font-size: 0.9em;
}
h1,
h2,
h3,
h4 {
  color: #8591a2;
}
hr {
  border: none;
  color: #8591a2;
  background-color: #8591a2;
  height: 1px;
}
h1 {
  font-size: 1.3em;
  margin: 0.5em 0;
}
h2 {
  font-size: 1.1em;
  margin: 0.25em 0;
}
h3 {
  font-size: 1em;
  margin: 1.5em 0 0.15em 0;
}
h4 {
  font-size: 1em;
  color: #999;
  font-weight: 500;
  margin: 1em 0 0.15em 0;
}
.table-props .prop-name {
  font-family: Consolas, 'Fira Code', 'Courier New', Courier, monospace;
  font-weight: bold;
}
.fit {
  width: 1px;
}
.top td {
  vertical-align: top;
}
.wide {
  line-height: 1.8em !important;
}
.help-content-view ul.std {
  padding-left: 20px;
  margin: 1em 0;
}
.help-content-view ul.std li {
  line-height: 1.5em;
  list-style-type: disc;
}
.help-content-view table.table-props {
  border-collapse: separate;
  border-spacing: 2px;
  width: 100%;
  font-size: 16px;
}
.help-content-view table.table-props td {
  background-color: #f8f8f8;
  padding: 2px 6px;
  vertical-align: baseline;
}
.help-content-view table.table-props td.prop-name {
  width: 1%;
}
.help-content-view table.table-props td.prop-image {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMvvhp8YAAACtSURBVDhPpZDBDcQgDARTG38K4E8tVEGdfH23ltbZEBA6HdJExHjWJJeZ/cW9WSzUxxg2Ef3bANYglFIspeS01h4h7sVGRIBGiqDWGrKGhKABaNDJs9x793f3KM0BOl2u7nvUfgpgCGVwDMg5PwIUfN4rgOBAJ61AzxfvP8p6E538CljJeEd9gv13AA52Ms4JJMJ/dpRVIlwRsJMZsFsRwBusrn3CH5CIHp6x6wMQ8ZH6L0gAuQAAAABJRU5ErkJggg==") no-repeat;
  background-position: center;
  width: 20px;
  padding: 0;
  background-color: #f8f8f8;
}
.help-content-view table.table-props th {
  padding: 4px 6px;
  background-color: #e0e0e0;
  font-weight: normal;
  text-align: left;
}
.help-content-view table.sub-table {
  border-collapse: collapse;
  margin: 6px 0;
  width: auto;
}
.help-content-view table.sub-table td {
  width: auto;
}
.help-content-view .enum-vals {
  margin: 0.5em 1em;
  padding: 0;
}
.help-content-view .enum-vals li {
  list-style: none;
  line-height: normal;
  text-indent: -16px;
}
.help-content-view .enum-vals li .prop-name {
  font-family: Consolas, 'Fira Code', 'Courier New', Courier, monospace;
  font-weight: bold;
}
a.code-link {
  font-family: Consolas, 'Fira Code', 'Courier New', Courier, monospace;
  padding: 2px;
  background-color: #f8f8f8;
}
.title {
  margin: 0 -1em;
  background-color: #e0f0ff;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1em;
}
.title h1 {
  margin: 0;
  padding: 8px 16px;
  height: 45px;
  color: #777;
  line-height: normal;
}
.title .breadcrumb {
  border-top: 1px solid #ddd;
  background-color: #f3faff;
  padding: 0.3em 1em 0.3em 0.5em;
  font-size: 0.9em;
  color: #ddd;
}
.title .breadcrumb a {
  margin: 0 0.5em;
}
.default-grid {
  display: grid;
  grid-template-columns: 1fr 30%;
  grid-gap: 1em;
}
.default-grid .grid-col1 {
  grid-column: 1;
}
.default-grid .grid-col2 {
  grid-column: 2;
  padding-left: 1em;
  border-left: 1px solid #ddd;
}
.method {
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;
}
.method p {
  margin: 0.5em;
  margin-left: 1em;
}
table.sql-table {
  border-collapse: collapse;
  font-family: Consolas, 'Fira Code', 'Courier New', Courier, monospace;
  font-size: 15px;
  margin: 1em 0;
}
table.sql-table td,
table.sql-table th {
  border: 1px solid #ddd;
  padding: 2px 4px;
}
table.sql-table th {
  background-color: #f8f8f8;
}
table.sheet-table {
  border-collapse: collapse;
  margin: 1em 0;
}
table.sheet-table td,
table.sheet-table th {
  border: 1px solid #ddd;
  padding: 2px 4px;
  vertical-align: baseline;
}
table.sheet-table th {
  background-color: rgba(231, 231, 231, 0.4);
}
table.sheet-table tr.total th {
  background-color: rgba(255, 239, 135, 0.4);
  font-weight: 600;
}
.period-pane ul.period-menu li {
  list-style: none;
}
.bkstyle-sample {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 2px 8px;
  font-family: Consolas, 'Fira Code', 'Courier New', Courier, monospace;
}
.markcss_sample {
  display: inline-block;
  font-family: Consolas, 'Fira Code', 'Courier New', Courier, monospace;
  border: 1px solid #f5f5f5;
  padding: 4px 0;
  border-left-width: 5px;
  text-align: center;
}
.shadow-sample .drop-shadow {
  padding: 10px 20px;
  margin: 20px;
  display: inline-block;
}
.panel-samlpe {
  display: flex;
  align-items: flex-start;
}
.panel-samlpe > div {
  margin: 20px;
}
.xaml-sample {
  background-color: #f9f9f9;
  border: 1px solid #eee;
  padding: 16px;
  width: 300px;
  font-size: 1rem;
}
.xaml-block {
  border: 1px solid #ccc;
  background-color: #fffff3;
  padding: 1rem;
  width: 100px;
}
pre.js .comment {
  color: forestgreen;
  font-style: italic;
}
pre.js .keyword {
  color: blue;
}
pre.js .string {
  color: firebrick;
}
pre.js .instr {
  color: blueviolet;
}
pre.js .interface {
  color: darkcyan;
}
pre.xml .comment {
  color: forestgreen;
  font-style: italic;
}
pre.xml .tag {
  color: #900;
}
pre.xml .attrname {
  color: red;
}
pre.xml .attrval {
  color: blue;
}
pre.xml .cdata {
  color: #999;
}
p {
  margin: 1em 0;
}
.os-product {
  background-color: #f6f9ff;
  padding: 6px;
  display: block;
  margin: 2px 0;
}
.os-product .os-lic {
  float: right;
  margin-right: 12px;
}
.os-product .os-homepage {
  float: right;
}
.os-product .cr {
  font-size: 0.86em;
}
.debug-list {
  list-style-type: none;
  overflow: auto;
  height: 450px;
  padding: 0 20px;
  background-color: antiquewhite;
  margin: 0;
}
.tip {
  padding: 12px 18px;
  margin-left: 1em;
  position: relative;
  background-color: #f8f8f8;
}
.tip:before {
  content: '!';
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
  top: 14px;
  left: -12px;
  color: white;
  text-align: center;
}
.tip.alert {
  border-left: 4px solid #f66;
}
.tip.alert:before {
  background-color: #f66;
}
.tip.warning {
  border-left: 4px solid gold;
}
.tip.warning:before {
  background-color: gold;
}
.tip.info {
  border-left: 4px solid #57a8fa;
}
.tip.info:before {
  background-color: #57a8fa;
}
.icons-content {
  columns: 4;
  margin-bottom: 2em;
}
.icons-content .one-item {
  padding: 5px;
  user-select: text;
}
.icons-content .one-item .ico {
  font-size: 20px;
  margin-right: 5px;
}
.not-supported {
  position: absolute;
  top: 20%;
  left: 40%;
}